* {
  font-family: "PingFang SC", "Microsoft YaHei UI", 宋体, sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
  padding: .5rem 0;
}

h3 {
  font-size: 0.9rem;
}

/* Chrome、Safari等关闭数字输入框的上下箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* FireFox关闭数字输入框的上下箭头 */
input[type="number"] {
  -moz-appearance: textfield;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 .5rem;
  color: #eee;
  background-color: #345;
  flex: 0 0 auto;
}

#header-nav-menu {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  min-height: 100%;
  background-color: #ccc;
  flex: 1 0 auto;
}

.main-center {
  justify-content: center;
}

footer {
  display: block;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  color: #eee;
  background-color: #678;
  flex: 0 0 auto;
}

#clicked-location-box {
  padding: .3rem 0;
}

#clicked-location-box > label {
  padding: 0 1rem;
}

#map-container {
  display: block;
  width: 100%;
  flex: 1 0 auto;
}

main .btn-add {
  align-self: flex-end;
  margin: 0.5rem;
}

.btn-group {
  margin: 0 5rem;
}

.title {
  font-size: 1.1rem;
  margin: .5rem 0;
}

.water-info-item {
  padding: 1rem 1rem 0 1rem;
}

.water-info-item input {
  text-align: center;
  width: 220px;
}
